* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

html,
body {
  position: relative;
  overflow: hidden; }

.web {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: #fff; }
  .web header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 17.6vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 2.6666666667vw;
    box-sizing: border-box;
    background-color: #fff; }
    .web header .city_box {
      width: 21.3333333333vw;
      height: 8vw;
      border: 1px solid #ff9344;
      box-sizing: border-box;
      background-color: white; }
      .web header .city_box select {
        width: 100%;
        height: 100%;
        border: 0;
        background-image: url("../img/toggle_triangle.png");
        background-position: 90% 55%;
        background-repeat: no-repeat;
        background-size: 3.7333333333vw 2vw;
        outline: none;
        padding-left: 1.8666666667vw;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: white; }
    .web header .row {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3.3333333333vw; }
      .web header .row .back {
        display: block;
        width: 16vw;
        height: 8vw;
        border: 1px solid #ff9344;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2.1333333333vw;
        color: black;
        font-size: 3.4666666667vw; }
      .web header .row p {
        font-size: 3.4666666667vw; }
      .web header .row .iconfont {
        font-size: 6.6666666667vw;
        color: #929292;
        position: relative; }
        .web header .row .iconfont.active {
          color: #ff9344; }
        .web header .row .iconfont span {
          width: 4vw;
          height: 4vw;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fa5050;
          color: white;
          font-size: 2.6666666667vw;
          position: absolute;
          right: -0.6666666667vw;
          top: 0; }

section {
  position: absolute;
  bottom: 18.9333333333vw;
  top: 17.6vw;
  overflow-y: auto;
  width: 100%; }
  section .section_box {
    width: 100%;
    padding: 0 2.6666666667vw;
    box-sizing: border-box; }
    section .section_box .title {
      width: 100%;
      height: 12.8vw;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      section .section_box .title .title_box {
        display: flex;
        align-items: center; }
        section .section_box .title .title_box .title_icon_box {
          width: 8vw;
          height: 8vw; }
          section .section_box .title .title_box .title_icon_box img {
            width: 100%;
            height: 100%;
            object-fit: contain; }
        section .section_box .title .title_box h2 {
          font-size: 4vw;
          margin-left: 1.3333333333vw;
          font-family: PingFang SC;
          font-weight: normal; }
      section .section_box .title .more_box {
        display: flex;
        margin-bottom: 1.3333333333vw; }
        section .section_box .title .more_box a {
          display: flex;
          align-items: center; }
          section .section_box .title .more_box a h3 {
            font-family: PingFang SC;
            font-size: 3.2vw;
            font-weight: normal;
            color: #494949; }
          section .section_box .title .more_box a .iconfont {
            width: 4vw;
            height: 4vw;
            font-size: 4vw;
            color: #ff9344; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 18.9333333333vw;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer a {
    width: 20%;
    color: grey; }
    footer a.active > .iconfont {
      color: #ff9344; }
    footer a.active {
      color: #ff9344; }
    footer a .iconfont {
      display: block;
      text-align: center;
      font-size: 10.6666666667vw;
      line-height: 11.8666666667vw;
      color: grey; }
    footer a p {
      text-align: center;
      font-size: 3.4666666667vw;
      line-height: 3.4666666667vw; }

section .kv {
  width: 94vw;
  margin: 0 auto; }
  section .kv .carousel {
    width: 100%;
    height: 100%;
    position: relative; }
    section .kv .carousel .carousel_frame {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      section .kv .carousel .carousel_frame .carousel_bar {
        width: 400%;
        height: 100%;
        font-size: 0;
        display: flex; }
        section .kv .carousel .carousel_frame .carousel_bar li {
          width: 25%;
          height: 100%;
          display: flex;
          justify-content: space-between; }
          section .kv .carousel .carousel_frame .carousel_bar li .box {
            width: 20vw; }
            section .kv .carousel .carousel_frame .carousel_bar li .box .img_box {
              width: 20vw;
              height: 20vw; }
              section .kv .carousel .carousel_frame .carousel_bar li .box .img_box img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
            section .kv .carousel .carousel_frame .carousel_bar li .box p {
              text-align: center;
              font-size: 3.4666666667vw;
              color: #000; }
    section .kv .carousel .dot {
      width: 100%;
      font-size: 0;
      display: flex;
      justify-content: center; }
      section .kv .carousel .dot li {
        margin: 0 0.2666666667vw;
        display: inline-block;
        color: #ffc9a1; }
        section .kv .carousel .dot li i {
          font-size: 2.4vw; }
        section .kv .carousel .dot li.active {
          color: #ff9344; }
section .section_box .img_links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4.4vw 0; }
  section .section_box .img_links .img_link_box {
    display: block;
    width: 17.7333333333vw;
    height: 17.7333333333vw; }
    section .section_box .img_links .img_link_box img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

/*# sourceMappingURL=class.css.map */
